header nav ul{
    display: flex;
    justify-content: space-around;
    
    
    
}

header nav ul li{
    
    color: black;
    text-decoration: none;
    padding: 55px;
}
.curve {
    position: absolute;
    background: #B8E79C;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    clip-path: circle(950px at 1700px -360px);
    z-index: -1;
    
}

.street {
    font-size: 2.3em;
    position: relative;
    top: 80px;
}
header nav ul li a{
    text-decoration: none;
    color: black;
    
}

.land_page{
    background-color: #E5E5E5;
    position: relative;
    height: 70vh;
    z-index: -1;
    
}

.intro {
    padding: 75px;
}

.intro h2 {
    font-size: 4.1rem;
    color: #6CB840;
    
}
.intro span {
    color: #EAAB1B;
    
}

.intro h3{
    font-size: 3.7rem;
    position: relative;
    top: -35px;
}
.intro p{
    position: relative;
    font-size: 2.1rem;
    top: -100px;
}
button {
    background-color: #6CB840;
    border: none;
    color: white;
    padding: 30px;
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
    font-size: 1.9rem;
    border-radius: 50px;
    position: relative;
    top: -100px;
}
.eat {
    display: flex;
    justify-content: space-between;
    height: 70vh;
    font-family: 'Poppins';
    
}
.eat img{
    height: 800px;
    padding-left: 50px;

}
.eat_two {
   text-align: center;
   justify-content: center;
   padding-top: 100px;
   padding-right: 500px;
   font-size: 2.7rem;
}
.eat h3{
    color: #EAAB1B;
}

.explore{
    background: #EAF3E4;
    text-align: center;
    margin: 0px 20px 0px 20px;
  
    
  
}
.first_row {
    display: flex;
    justify-content: space-between;
}
.second_row {
    display: flex;
    justify-content: space-between;
}
.first_burger {
    display: flex;
  

}

.first_burger img{
   height: 150px;
   position: relative;
   left: 20px;
   top: 60px;
   z-index: 2;

   
}
.b1 { 
    background: white;
    padding: 5px;
    width: 250px;
    height: 150px;
    border-bottom-right-radius: 56px;
    margin: 25px;
    position: relative;
    left: -50px;
    
    
}
.b1 h2 {
    position: relative;
    left: -5px;

    
}
.b1 p {
    text-align: center;

}
.hot {
    display: flex;
    background: #C9ECB5;
    height: 700px;
    margin: 0px 20px 0px 20px;
    margin-bottom: 5px;
}
.burg {
    position: relative;
    top: -360px;
    left: 30px;
}

.contactUs {
    background: #FFF5DD ;
    padding: 10px;
    margin: 0px 20px 0px 20px;
    margin-bottom: 45px;
    
}
.contactUs h2{
    text-align: center;
}
.contactUs p{
    text-align: center;
}

footer{
    display: flex;
    justify-content: space-between;
    background: #F1FAEC;
    margin: 0px 20px 0px 20px;
}

.days p{
    position: relative;
    top: -10px;
}